<p class='lead'>
All Post
<hr/>
</p>

  <% @posts.each do |post| %>
  <div class='row'>
    <div class='span8 well'>
      <p><%= link_to post.title, post.url %></p>
      <p><%= post.description %></p>
    </div>
  </div>
<% end %>
