<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'input-with-feedback' %>
      <br/>
    <%# = f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>  
  <% end %>
</div>